{% extends "main_wrapper.html" %}
{% load static %}
{% load homeworks_tag %}
{% block title %}
    Homeworks
{% endblock %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'homeworks/css/homework_template_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homeworks/css/style.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_teacher %}
      <div class="create-homework__wrapper">
        <div class="create-homework">
          <form method="get" action="{% url 'get_groups_and_users' %}" name="search-form">
            {% csrf_token %}
            <button type="submit" name="button">pishov svitsu</button>
          </form>
          <input type="text" class="search-field">
          <input type="button" value="Кнопка">
          <div class="search-output"></div>
        </div>
        <div class="create-homework__bg"></div>
      </div>
      {% if complite_homeworks %}
          <span>homeworks</span>
          {% for complite_homework in complite_homeworks %}
              {% include "homeworks/complite_homework_template.html" %}
          {% endfor %}

      {% endif %}
    {% else %}
      {% if homeworks or individual_homeworks %}
          <div class="filter">
            <form action="{% url 'homeworks_filter' %}" method="get" name="filter_homework">
                <ul>
                  <li>
                    <span>not done</span>
                    <input type="checkbox" name="status" value="0">
                    <!--<input type="radio" name="theme" value="0" checked>-->
                  </li>
                  <li>
                    <span>expected</span>
                    <input type="checkbox" name="status" value="1">
                  </li>
                  <li>
                    <span>done</span>
                    <input type="checkbox" name="status" value="2">
                  </li>
                </ul>

                <ul>
                  <li>
                    <span>week</span>
                    <input type="radio" name="date" value="week">
                  </li>
                  <li>
                    <span>month</span>
                    <input type="radio" name="date" value="month">
                  </li>
                  <li>
                    <span>all</span>
                    <input type="radio" name="date" value="all">
                  </li>
                </ul>

                <ul>
                  {% get_topics group_name=active_group as topics %}
                  {% for topic in topics %}
                    <li>
                      <span>{{topic}}</span>
                      <input type="checkbox" name="topic" value="{{topic}}">
                    </li>
                  {% endfor %}
                </ul>

                <input type="submit">
            </form>
          </div>
      {% endif %}

      {% if homeworks %}
          <span>homeworks</span>
          <div class="homeworks">
              {% for homework in homeworks %}
                  {% get_status homework_id=homework.id user_id=user.id as status %}

                  {% include "homeworks/homework_template.html" %}
              {% endfor %}
          </div>
      {% endif %}

      {% if individual_homeworks %}
          <span>individual homeworks</span>
          <div class="individual-homeworks">
              {% for homework in individual_homeworks %}
                {% get_status homework_id=homework.id user_id=user.id as status %}
                {% include "homeworks/homework_template.html" %}
              {% endfor %}
          </div>searchField
      {% endif %}
    {% endif %}

{% endblock %}



{% block scripts %}
    <script src="http://twitter.github.io/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
    <script src="{% static 'js/ajax_send.js' %}"></script>
    {% if not user.is_teacher %}
    <script src="{% static 'homeworks/js/filter.js' %}"></script>
    {% endif %}
    <script src="{% static 'homeworks/js/comment_manager.js' %}"></script>
    <script src="{% static 'homeworks/js/homework_creator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/default_blocks.js' %}"></script>
    <!--
    <script type="text/javascript">

    function uploadHomework(elm){
        var photo = elm.value;
        var id = elm.id;
        console.log(new URLSearchParams(new FormData(elm.form)).toString());
        let url = elm.form.action;
        //let params = new URLSearchParams(new FormData(this.form)).toString();
        //console.log(params);
        //ajaxSend(url, params);

        for (var i = 0; i < id.length; i++) {
            if (id[i] == '-') {
                id = id.slice(i+1, id.length);
                break;
            }
        }
        console.log(id);
        console.log(photo);
        console.log(url);
      }
    </script>
    -->
{% endblock %}
