<div class="default-fixed-wrap">
  <div class="default-fixed-block default-block">
    <header class="default-fixed-block__header">
      <div class="default-fixed-block__close"></div>
    </header>
    <div class="default-fixed-block__content">

      {% include "homeworks/homework_template.html" %}

    </div>
  </div>
  <div class="default-fixed-block__background"></div>
  <div class="default-fixed-block__open default-btn"><span>create homework</span></div>
  <button class="default-fixed-block__open" type="button" name="button">create homework</button>
</div>
